################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DownloadGGDriverPDF/WinFormsApp1/bin/Debug/netcoreapp3.1
/DownloadGGDriverPDF/WinFormsApp1/obj
extracting-inline-styles/extracting-inline-styles/bin/Debug
dongtienCLI/dongtienCLI/obj/Debug/
extracting-inline-styles/extracting-inline-styles/obj/Debug/
extracting-inline-styles/extracting-inline-styles/obj/
