################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DownloadGGDriverPDF/WinFormsApp1/bin/Debug/netcoreapp3.1
/DownloadGGDriverPDF/WinFormsApp1/obj

/DownloadGGDriverPDF/Setup1/Release
/DownloadGGDriverPDF/Setup1/Debug
/DownloadGGDriverPDF/.vs/DownloadGGDriverPDF
/DownloadGGDriverPDF/WinFormsApp1/bin/Release/netcoreapp3.1
